# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/capacitor-cordova-android-plugins/build/
android/capacitor-android/build/
android/capacitor-local-notifications/build/
*.keystore

# Test results
test-results/
playwright-report/
